<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{toDo.name}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{toDo.description}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{toDo.dateStarted}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{toDo.dateComleted}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{toDo.isComplete? 'Yes':'No'}}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{toDo.priority}}</td>
        </tr>
    </tbody>
</table>