<div class="logInContainer">
    <div class="loginLine">
        <span class="lineItem">Username:</span>
        <input [(ngModel)]="loginUser.username" type="text">
    </div>
    <div class="loginLine">
        <span class="lineItem>">Passowrd:</span>
        <input [(ngModel)]="loginUser.password" type="password">
    </div>
    <div class="buttonContainer">
        <button (click)="logOn()">Log On</button>
    </div>
    <div class="message">{{message}}</div>
    <a routerLink="/register">Register new account</a>
</div>